

<div class="col-12 text-right">
    <button type="button" class="btn btn-primary" routerLink="/product/create">Create Product</button>
</div>
<div class="col-12 mt-3">
    <div class="row">
        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products | async; let i = index;">
                    <td>{{i + 1}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.description ? item.description : 'NA'}}</td>
                    <td>
                        <i class="zmdi zmdi-edit" routerLink="/product/create" [queryParams]="{ id : i}"></i>
                        <i class="zmdi zmdi-delete ml-2" (click)="delete(i)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>